.div{
    text-align: center;
    align-items: center;
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 150px;
    color: #000000
    
}
#Quote{
    font-size: 50px;
}
#Clock{
    margin-bottom: 50px;
}
body{
    background-image: url("https://source.unsplash.com/random/1920x1080");
    height: 100%; 
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
}
